---
// 푸터 — 모든 페이지 공통
---
<footer class="site">
  <div class="container">
    <div class="foot-grid">
      <div>
        <div class="foot-brand">컨빌디자인 <small>CONVIL Church Studio</small></div>
        <p>주식회사 컨빌 · 대표 박진하</p>
        <p>주소: 서울 강남구 압구정로 8길 루피움빌딩 / 부산광역시 연제구 연제로 24, 203호</p>
        <p>사업자등록번호: 736-05-02612</p>
        <p>connectvillage@convil.net</p>
      </div>
      <div class="foot-col">
        <h5>SERVICE</h5>
        <ul>
          <li><a href="/index.html#paths" class="nav-link">반셀프 인테리어 패키지</a></li>
          <li><a href="/index.html#paths" class="nav-link">시공까지 한 번에</a></li>
          <li><a href="/index.html#paths" class="nav-link">교회 브랜딩 패키지</a></li>
        </ul>
      </div>
      <div class="foot-col">
        <h5>STUDIO</h5>
        <ul>
          <li><a href="/index.html#about" class="nav-link">About</a></li>
          <li><a href="/portfolio_list.html" class="nav-link">Portfolio</a></li>
          <li><a href="/index.html#process" class="nav-link">Process</a></li>
          <li><a href="/index.html#faq" class="nav-link">FAQ</a></li>
        </ul>
      </div>
      <div class="foot-col">
        <h5>SNS</h5>
        <ul>
          <li><a href="https://convil.net" target="_blank" rel="noopener" class="nav-link">컨빌디자인 홈페이지</a></li>
          <li><a href="https://blog.naver.com/convil_interior" target="_blank" rel="noopener" class="nav-link">블로그</a></li>
          <li><a href="https://www.youtube.com/@convil.interior" target="_blank" rel="noopener" class="nav-link">유튜브</a></li>
          <li><a href="https://pf.kakao.com/_PYdxin" target="_blank" rel="noopener" class="nav-link">카카오톡 채널</a></li>
          <li><a href="https://www.instagram.com/convil.design/" target="_blank" rel="noopener" class="nav-link">인스타그램</a></li>
        </ul>
      </div>
    </div>
    <div class="foot-bottom">Copyright © 2026 by Convil Inc. All rights reserved.</div>
  </div>
</footer>
